<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/post.css">
    <title>发表留言</title>
</head>
<body>
    <div class="pubish">
        <h2>发表留言</h2>
        <form action="/pinglun" method="GET">
            <div class="name">
                <label for="">姓名：</label>
                <input name="name" type="text">
            </div>
            <div class="message">
                <label for="">留言：</label>
                <textarea name="message" id="" cols="30" rows="10"></textarea>
            </div>
            <button>发表</button>
        </form>
    </div>
</body>
</html>